@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6puy2o');
	src:url('../fonts/icomoon.eot?#iefix-6puy2o') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6puy2o') format('woff'),
		url('../fonts/icomoon.ttf?-6puy2o') format('truetype'),
		url('../fonts/icomoon.svg?-6puy2o#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	background-color: #34495E;
	font-size: 16px;
	font-weight: lighter;
	font-family: Roboto, Arial;
}


#LoginContainer{
	top: 30%;
	left: 35%;
	width: 30%;
	min-width: 163px;
	margin: auto;
	box-shadow: 1px 2px 2px 0.5 #000;
	border-radius: 5px; 
	padding: 0;
	background-color: #2C3E50;
	position: absolute;

}

.TituloLogin{
	width: 50%;
	margin: 2% auto;
	text-align: center;
	color: white;
}

.Login h3{
	width: 50%;
	margin: 2% 25% 1% 25%;
	text-align: center;
}

.input{
	padding: 1em;
	width: 70%;
	margin: 1em auto;
	display: block;
	border-radius: 5px;
	border: none;
	background-color: white;
	color: black;
}

input[name="Boton1"]{
	padding: 1em;
	width: 76%;
	margin: 2em auto;
	display: block;
	border-radius: 5px;
	border: none;
	background-color: #16A085;
	color: white;
}

input[name="Boton2"]{
	margin-left: 0.5em;
	border-radius: 5px;
	border: none;
	background-color: #3498DB;
	color: white;
}

#botonCaptura{
	width: 19px;
}

#botonCapturaDiv{
	width: 25px;
	padding: 1px 1px 1px 7px;
	display: inline-block;
	background-color: #3498DB;
	border-radius: 5px;
	margin-left: 0.5em;
}

#botonGrabar{
	width: 11px;
}

#botonGrabarDiv{
	width: 20px;
	padding: 1px 1px 1px 10px;
	display: inline-block;
	border-radius: 5px;
	margin-left: 0.5em;
	cursor: pointer;
}

.BotonGrabarOff{
	background-color: #7C6262;
}

.BotonGrabarOn{
	background-color: #F45B6D;
}

#botonStop{
	width: 11px;
}

#botonStopDiv{
	width: 20px;
	padding: 1px 1px 1px 10px;
	background-color: #3498DB;
	border-radius: 5px;
	margin-left: 0.5em;
	cursor: pointer;
}

.BotonStopDivVisible{
	display: inline-block;
}

.BotonStopDivHidden{
	display: none;
}

input::-webkit-input-placeholder {
	color: #BDC3C7;
}
input::-moz-placeholder {
	color: #BDC3C7;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #BDC3C7;
}
input:-ms-input-placeholder { 
	color: #BDC3C7;
}

.MenuLeft{
	margin: 0.5em;
	border: none;
	position: absolute;
	left: 0;
	width: 19.8em;
	top: 5em;
	bottom: 0;
	background-color: #2C3E50  ;
	display: inline-block;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
}

.MenuLeft-Lista{
	list-style: none;
	margin: 0;
	padding: 0;
}

.MenuLeft-ItemLista-Esc{
	margin: 0;
	border: 1px solid #BDC3C7  ;
	padding: 0.5em 1em;
	background-color: #ECF0F1  ;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}

.EscenariosContainer{
	margin: 0;
	border: 1px solid #BDC3C7  ;
	padding: 0.5em 1em;
	background-color: #ECF0F1  ;
	color: black;
	border-radius: 5px;
	display: none;
}

.MenuLeft-ItemLista-Ele{
	margin: 0;
	border: 1px solid #BDC3C7  ;
	padding: 0.5em 1em;
	background-color: #ECF0F1  ;
	color: black;
	border-radius: 5px;
	cursor: pointer;
}


.ElementosContainer{
	margin: 0;
	border: 1px solid #BDC3C7  ;
	padding: 0.5em 1em;
	background-color: #ECF0F1  ;
	color: black;
	border-radius: 5px;
	display: none;
}

.MenuLeft-ArticlesContainer{
	border: 1px solid #000;
	overflow-y: scroll;
	width: 17.4em;
	height: 15em;
	padding: 0.1em;
}

.Article{
	height: 4.9em;
	width: 4.9em;
	margin: 0.2em;
	display: inline-block;
	float: left;
	border-radius: 5px;
	border: solid #595959 1px;
	cursor: pointer;
}

.Article img{
	width: 95%;
	height: 70%;
	margin: 2.5% 2.5% 0 2.5%;
}

.AddArticle{
	height: 4.9em;
	width: 4.9em;
	margin: 0.2em;
	display: inline-block;
	float: left;
	border-radius: 5px;
	border: solid #595959 1px;
	cursor: pointer;
}

.AddArticle-Image{
	width: 50%;
	height: 50%;
	margin: 25%;
	padding: 0;
}

#menuleftP {
	max-height: 1.47em;
	margin: 0 2%;
	text-align: center;
	font-weight: bold;
	font-size: 50%;
	overflow: hidden;
}

#menuleftP:hover{
	overflow: visible;
}

.Pizarra{
	border: none;
	left: 20.8em;
	top: 5em;
	margin: 0.5em 0.5em 0.5em 0;
	right: 0;
	bottom: 0;
	background: white;
	display: inline-block;
	border-radius: 5px;
	position: absolute;	
}

h1{
	display: inline-block;
	margin: 0 auto;
	line-height: 200%;
}

.Titulo{
	width:19.8em;
	position: absolute;
	height: 4.5em;
	display: inline-block;
	text-align: center;
	color: white;
	margin: 0.5em 0.5em 0 0.5em;
	background-color: #16A085;
	border-radius: 5px;
	left: 0;
	top: 0;
}

.MenuTop{
	position: absolute;
	right: 0;
	left: 20.8em;
	height: 4.5em;
	display: inline-block;
	margin: 0.5em 0.5em 0 0;
	border-radius: 5px;
	background-color: #ECF0F1;
}

.MenuPrincipal{
	width: 50%;
}

.MenuLista{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 2.25em;
	margin: 0.5em 0 0 0.5em;
}

.Menu-Item{
	width: 20%;
	height: 1.3em;
	top: 0.1em;
	padding: 0.2em;
	display: inline-block;
	background-color: #BDC3C7;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

.Menu-ItemSelected{
	width: 20%;
	height: 1.3em;
	top: 0.1em;
	padding: 0.2em;
	display: inline-block;
	background-color: #16A085;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.MenuHerramientas{
	height: 1.8em;
}

.ComboBoxDominio{
	width: 10em;
	background-color: #E67E22;
	padding: 0.2em;
	color: #2C3E50;
	border: none;
	vertical-align: bottom;
	margin: 0 0 0 0.5em;
	border-radius: 5px;
	color: white;
	display: inline-block;
	cursor: pointer;
}

.ComboBoxClase{
	width: 10em;
	background-color: #9B59B6;
	border: none;
	vertical-align: bottom;
	margin: 0 0 0 0.5em;
	border-radius: 5px;
	color: white;
	display: inline-block;
	cursor: pointer;
	padding: 0.2em;
}

.ComboBoxDisabled{
	width: 10em;
	background-color: #BDC3C7;
	border: none;
	vertical-align: bottom;
	margin: 0 0 0 0.5em;
	border-radius: 5px;
	color: #ECF0F1;
	display: inline-block;
	padding: 0.2em;
}

.CuadroInformativo{
	position: absolute;
	max-width: 249px;
	top: 62%;
	right: 0;
	min-width: 5%;
	height: 1.2em;
	color: white;
	padding: 0.1em 0.4em;
	border: none;
	border-radius: 5px;
	background-color: #3498DB;
	display: inline-block;
	margin: 0 1% 0 0.5em;
	

}

.CuadroInformativo p{
	margin: 0;
	display: inline-block;

}

.CuadroUsuario{
	min-width: 5%;
	max-height: 84%;
	top: 0;
	color: white;
	padding: 0.1em 0.4em;
	border: none;
	border-radius: 5px;
	background-color: #16A085;
	display: inline-block;
	float: right;
	margin-right: 1%;
	text-align: center;
}

.CuadroUsuario p{
	margin: 0;
	font-size: 11.5px;
	font-weight:bold;
	cursor: pointer;
}

.CuadroUsuarioLogOut{
	font-size: 8px;
	background-color: white;
	color: black;
	border-radius: 0 0 5px 5px;
	display: none;
	top: 5%;
	margin: 0;
}

.Arrow{
	float: right;
	margin-top: 5px;
}

.AlertContainer{
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	display: none;
}

.AlertBody{
	min-width: 233px;
	position: absolute;
	width: 10%;
	margin: 15% 45% 0 45%;
	background-color: #ECF0F1;
	display: inline-block;
	text-align: center;
	padding-bottom: 0.5em;
	border-radius: 5px;
}

.AlertBodyBig{
	min-width: 420px;
	position: absolute;
	width: 25%;
	left: 37.5%;
	right: 37.5%;
	top: 20%;
	background-color: #ECF0F1;
	display: inline-block;
	text-align: center;
	padding-bottom: 0.5em;
	border-radius: 5px;
}

.AlertBody form{
	display: none;
}

.AlertTittleContainer{
	background-color: #34495E;
	color: white;
	padding: 0.5em;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.Foo2{
	width: 90%;
}

.AlertTittleContainer h4{
	margin: 0;
	display: inline-block;
}

.AlertTittleContainer img{
	display: inline-block;
	float: right;
	margin: 0;
}

.AlertContent{
	display: inline-block;
	padding: 0.5em;
}


.AlertContent select{
	padding: 0.2em;
	margin: 0.4em 0 0.2em 0;
}

.ButtonsContainer{
	width: 100%;
	position: absolute;
	bottom: 2%;
	left: 0;
}


.Button{
	margin-right: 2%;
	margin-left: 2%;
	cursor: pointer;
	padding: 0.5em;
	color: white;
	border-radius: 5px;
}


.OkButton{
	background-color: #1ABC9C;
	display: none;
	border: none;
}

.CancelButton{
	background-color: #E74C3C;
	display: none;
}

.AddButton{
	background-color: #3498DB;
	display: none;
	border: none;
}

#closeButton{
	cursor: pointer;
}

.ColorPickerContainer{
	position: fixed;
	height: 13em;
	width: 20em;
	background-color: #2C3E50;
	display: none;
	border: 2px solid #000;
	border-radius: 5px;
	display: none;
}

.ColorPickerContainer h5{
	margin: 0;
	padding: 0.5em;
	text-align: center;
	color: white;
	background-color: black;
}

.ColorPickerBig{
	height: 13em;
	float: left;
}

.ColorPicker{
	width: 1.5em;
	height: 1.5em;
	border-top: 0.5em;
	border-left: 0.5em;
	margin-top: 0.5em;
	margin-left: 0.5em;
	box-shadow: 0px 0px 2px #000;
	cursor: pointer;
}

.ColorPicker:hover{
	box-shadow: 0px 0px 2px #FFF;
}

.LineWidthModifier{
	cursor: pointer;
}

.WidthContainer{
	margin: 0.5em;
	padding: 0.5em;
	width: 8em;
	float: left;
	border: 1px solid white;
	box-shadow: 0px 0px 2px #000;
	color: white;
	border-radius: 5px;
}

.WidthContainer:hover{
	box-shadow: 0px 0px 2px #FFF;
}

.LineWidthModifier{
	float: right;
	margin-right: 0.5em;
	padding: 0.2em;
	border-radius: 5px;
}

.WidthContainer h4{
	margin: 0;
	float: left;
}

.DeleteBlackboard{
	background: 
}

.EscenariosAlert{
	background-color: white;
	border-radius: 5px;
	text-align: left;
	overflow: hidden;
}

.EscenariosAlert input{
	margin:0.2em 0.5em;
}

#selectDominio{
	display: inline-block;
	margin: 5% 25%;
}

.AlertElement{
	margin: 5% 5% 15% 5%;
}

.AlertElement input{
	margin: 0.5em auto;
	width: 45%;
}

#foo11{
	width: 100%;
}

.Foo1{
	width: 100%;
}

.ContentOverflow{
	overflow-y: auto; 
	height: 10em;
	width: 100%;
	border:solid #595959 1px;
	background-color: #C9CEDB;
}

.ContentOverflow table{
	width: 100%;
}

.Foo4 select{
	width: 50%;
	margin: 5%;
}


#selectUser{
	margin: 0.5em auto;
	width: 70%;
}

