@font-face {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	src:url('../fonts/icomoon.eot?-6puy2o');
	src:url('../fonts/icomoon.eot?#iefix-6puy2o') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6puy2o') format('woff'),
		url('../fonts/icomoon.ttf?-6puy2o') format('truetype'),
		url('../fonts/icomoon.svg?-6puy2o#icomoon') format('svg');
}

body{
	background-color: #34495E;
	font-family: Roboto, Arial;
	font-size: 16px;
	font-weight: lighter;
	margin: 0;
}
textarea{
	resize:none;
}

#svg1{
	
}
#svgChild1{
	stroke-width:5px;
	stroke:green;
}



#LoginContainer{
	background-color: #2C3E50;
	border-radius: 5px; 
	box-shadow: 1px 2px 2px 0.5 #000;
	left: 35%;
	margin: auto;
	min-width: 163px;
	padding: 0;
	position: absolute;
	top: 30%;
	width: 30%;

}

.TituloLogin{
	color: white;
	margin: 2% auto;
	text-align: center;
	width: 50%;
}

.Login h3{
	margin: 2% 25% 1% 25%;
	text-align: center;
	width: 50%;
}

.input{
	background-color: white;
	border: none;
	border-radius: 5px;
	color: black;
	display: block;
	margin: 1em auto;
	padding: 1em;
	width: 70%;
}

input[name="Boton1"]{
	background-color: #16A085;
	border: none;
	border-radius: 5px;
	color: white;
	display: block;
	margin: 2em auto;
	padding: 1em;
	width: 76%;
}

input[name="Boton2"]{
	background-color: #3498DB;
	border: none;
	border-radius: 5px;
	color: white;
	font-size: 1vw;
	margin-left: 0.5em;
}

#botonCaptura{
	width: 28px;
}

#botonCapturaDiv{
	background-color: #3498DB;
	border-radius: 5px;
	display: inline-block;
	margin-left: 0.5em;
	padding: 4px 2px 0px 9px;
	width: 35px;
}

#botonGrabar{
	width: 20px;
}

#botonGrabarDivOff{
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5em;
	padding: 3px 1px 0px 10px;
	width: 29px;
}

#botonGrabarDivOn{
	border-radius: 5px;
	cursor: pointer;
	display: none;
	margin-left: 0.5em;
	padding: 3px 1px 0px 10px;
	width: 29px;
}

.BotonGrabarOff{
	background-color: #6D5252;
}

.BotonGrabarOn{
	background-color: #F45B6D;
}

#botonStop{
	width: 20px;
}

#botonStopDiv{
	background-color: #3498DB;
	border-radius: 5px;
	cursor: pointer;
	margin-left: 0.5em;
	padding: 3px 1px 0px 10px;
	width: 29px;
}

.BotonStopDivVisible{
	display: inline-block;
}

.BotonStopDivHidden{
	display: none;
}

#botonDibujo{
	width: 20px;
}

#botonDibujoDiv{
	background-color: #3498DB;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	margin-left: 0.5em;
	padding: 3px 1px 0px 10px;
	width: 29px;
}

input::-webkit-input-placeholder {
	color: #BDC3C7;
}
input::-moz-placeholder {
	color: #BDC3C7;
}
input:-moz-placeholder {   /* Older versions of Firefox */
	color: #BDC3C7;
}
input:-ms-input-placeholder { 
	color: #BDC3C7;
}

.MenuLeft{
	background-color: #2C3E50  ;
	border: none;
	border-radius: 5px;
	bottom: 0;
	display: inline-block;
	left: 0;
	margin: 0.5em;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 5em;
	width: 19.8em;
}

.MenuLeft-Lista{
	list-style: none;
	margin: 0;
	padding: 0;
}

.MenuLeft-ItemLista-Esc{
	background-color: #ECF0F1  ;
	border: 1px solid #BDC3C7  ;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	margin: 0;
	padding: 0.5em 1em;
}

.EscenariosContainer{
	background-color: #ECF0F1  ;
	border: 1px solid #BDC3C7  ;
	border-radius: 5px;
	color: black;
	display: none;
	margin: 0;
	padding: 0.5em 1em;
}

.MenuLeft-ItemLista-Ele{
	background-color: #ECF0F1  ;
	border: 1px solid #BDC3C7  ;
	border-radius: 5px;
	color: black;
	cursor: pointer;
	margin: 0;
	padding: 0.5em 1em;
}


.ElementosContainer{
	background-color: #ECF0F1  ;
	border: 1px solid #BDC3C7  ;
	border-radius: 5px;
	color: black;
	display: none;
	margin: 0;
	padding: 0.5em 1em;
}

.MenuLeft-ArticlesContainer{
	border: 1px solid #000;
	height: 15em;
	overflow-y: scroll;
	padding: 0.1em;
	width: 17.4em;
}

.Article{
	border: solid #595959 1px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 4.9em;
	margin: 0.2em;
	width: 4.9em;
}

.Article img{
	height: 70%;
	margin: 2.5% 2.5% 0 2.5%;
	width: 95%;
}

.AddArticle{
	border: solid #595959 1px;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	float: left;
	height: 4.9em;
	margin: 0.2em;
	width: 4.9em;
}

.AddArticle-Image{
	height: 50%;
	margin: 25%;
	padding: 0;
	width: 50%;
}

#menuleftP {
	font-size: 50%;
	font-weight: bold;
	margin: 0 2%;
	max-height: 1.47em;
	overflow: hidden;
	text-align: center;
}

#menuleftP:hover{
	overflow: visible;
}

.Pizarra{
	background: white;
	border: none;
	border-radius: 5px;
	bottom: 0;
	display: inline-block;
	left: 20.8em;
	margin: 0.5em 0.5em 0.5em 0;
	position: absolute;	
	right: 0;
	top: 5em;
}
.AreaTrabajo{
	background: white;
	border: none;
	border-radius: 5px;
	bottom: 0;
	display: inline-block;
	left: 20.8em;
	margin: 0.5em 0.5em 0.5em 0;
	position: absolute;	
	right: 0;
	top: 5em;
}

#imageTemp{
	border: none;
	border-radius: 5px;
	bottom: 0;
	display: inline-block;
	height: 100%;
	position: absolute;	
	right: 0;
	top: 0;
	width: 100%;
}

h1{
	display: inline-block;
	line-height: 200%;
	margin: 0 auto;
}

.Titulo{
	background-color: #16A085;
	border-radius: 5px;
	color: white;
	display: inline-block;
	height: 4.5em;
	left: 0;
	margin: 0.5em 0.5em 0 0.5em;
	position: absolute;
	text-align: center;
	top: 0;
	width:19.8em;
}

.MenuTop{
	background-color: #ECF0F1;
	border-radius: 5px;
	display: inline-block;
	height: 4.5em;
	left: 20.8em;
	margin: 0.5em 0.5em 0 0;
	position: absolute;
	right: 0;
	top:0;
}

.MenuPrincipal{
	width: 50%;
}

.MenuLista{
	display: inline-block;
	height: 2.25em;
	list-style: none;
	margin: 0.5em 0 0 0.5em;
	padding: 0;
	width: 75%;
}

.Menu-Item{
	background-color: #BDC3C7;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8vw;
	font-weight: bold;
	height: 1.3em;
	padding: 0.2em;
	text-align: center;
	top: 0.1em;
	white-space: nowrap;
	width: 15%;
}

.Menu-ItemSelected{
	background-color: #16A085;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8vw;
	font-weight: bold;
	height: 1.3em;
	padding: 0.2em;
	text-align: center;
	top: 0.1em;
	white-space: nowrap;
	width: 15%;
}

.MenuHerramientas{
	height: 1.8em;
}

.ComboBoxDominio{
	background-color: #E67E22;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.2em;
	vertical-align: bottom;
	width: 10em;
}

.ComboBoxClase{
	background-color: #9B59B6;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.2em;
	vertical-align: bottom;
	width: 10em;
}

.ComboBoxDisabled{
	background-color: #BDC3C7;
	border: none;
	border-radius: 5px;
	color: #ECF0F1;
	display: inline-block;
	margin: 0 0 0 0.5em;
	padding: 0.2em;
	vertical-align: bottom;
	width: 10em;
}

.CuadroInformativo{
	background-color: #3498DB;
	border: none;
	border-radius: 5px;
	color: white;
	display: inline-block;
	height: 1.2em;
	margin: 0 1% 0 0.5em;
	max-width: 15vw;
	min-width: 5%;
	padding: 0.1em 0.4em;
	position: absolute;
	right: 0;
	top: 62%;
	

}

.CuadroInformativo p{
	display: inline-block;
	font-size: 0.8vw;
	margin: 0;

}

.CuadroUsuario{
	background-color: #16A085;
	border: none;
	border-radius: 5px;
	color: white;
	display: inline-block;
	float: right;
	font-size: 1.3vw;
	margin: 0.4em 1% 0 0;
	max-height: 84%;
	max-width: 160px; 
	min-width: 5%;
	padding: 0.1em 0.4em;
	text-align: center;
}

.CuadroUsuario p{
	cursor: pointer;
	font-size: 11.5px;
	font-weight:bold;
	margin: 0;
}

.CuadroUsuarioLogOut{
	background-color: white;
	border-radius: 0 0 5px 5px;
	color: black;
	display: none;
	font-size: 8px;
	margin: 0;
	top: 5%;
}

.Arrow{
	float: right;
	margin-top: 5px;
}

.AlertContainer{
	background: rgba(0,0,0,0.5);
	display: none;
	height: 100%;
	position: fixed;
	width: 100%;
}

.AlertBody{
	background-color: #ECF0F1;
	border-radius: 5px;
	display: inline-block;
	margin: 15% 45% 0 45%;
	min-width: 233px;
	padding-bottom: 0.5em;
	position: absolute;
	text-align: center;
	width: 10%;
}

.AlertBodyBig{
	background-color: #ECF0F1;
	border-radius: 5px;
	display: inline-block;
	left: 30%;
	max-width: 673px;
	min-width: 420px;
	padding-bottom: 0.5em;
	position: absolute;
	right: 30%;
	text-align: center;
	top: 9%;
	width: 40%;
}

.AlertBody form{
	display: none;
}

.AlertTittleContainer{
	background-color: #34495E;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: white;
	padding: 0.5em;
}

.Foo2{
	width: 90%;
}

.AlertTittleContainer h4{
	display: inline-block;
	margin: 0;
}

.AlertTittleContainer img{
	display: inline-block;
	float: right;
	margin: 0;
}

.AlertContent{
	display: inline-block;
	padding: 0.5em;
}


.AlertContent select{
	margin: 0.4em 0 0.2em 0;
	padding: 0.2em;
}

.ButtonsContainer{
	bottom: 4%;
	left: 0;
	position: absolute;
	width: 100%;
}


.Button{
	border-radius: 5px;
	color: white;
	cursor: pointer;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0.5em;
}


.OkButton{
	background-color: #1ABC9C;
	border: none;
	display: none;
	width: 37%;
}

.UncheckButton{
	background-color: #1ABC9C;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0.5em;
	width: 34.6%;
}

.CheckButton{

	background-color: #1ABC9C;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
	padding: 0.5em;
	width: 37%;
}

.RecordButton{
	background-color: #1ABC9C;
	border: none;
	display: inline-block;
}

.CancelButton{
	background-color: #E74C3C;
	display: none;
	width: 37%;
}

.AddButton{
	background-color: #3498DB;
	border: none;
	display: none;
	width: 37%;
}

#closeButton{
	cursor: pointer;
}

.ColorPickerContainer{
	background-color: #2C3E50;
	border: 2px solid #000;
	border-radius: 5px;
	display: none;
	height: 13em;
	position: fixed;
	width: 25em;
}

.ColorPickerContainer h5{
	background-color: black;
	color: white;
	margin: 0;
	padding: 0.5em;
	text-align: center;
}

#closeButton2{
	color: white;
	cursor: pointer;
	position: absolute;
	right:2%; 
	top:2%;
}

.ColorPickerBig{
	height: 13em;
	float: left;
}

.ColorPicker{
	border-left: 0.5em;
	border-top: 0.5em;
	box-shadow: 0px 0px 2px #000;
	cursor: pointer;
	height: 1.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	width: 1.5em;
}

.ColorPicker:hover{
	box-shadow: 0px 0px 2px #FFF;
}

#type{
	border-radius: 5px;
	padding: 0.1em;
	cursor: pointer;
}

.WidthContainer{
	border: 1px solid white;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #000;
	color: white;
	float: left;
	height: 3.2em;
	margin: 0.5em;
	padding: 0.5em;
	width: 8em;
}

.WidthContainer h4{
	width: 100%;

}

.WidthContainer div{
	margin: auto;
	padding-left: 0.5em;
	width: 80%;
}

.WidthContainer:hover{
	box-shadow: 0px 0px 2px #FFF;
}

.LineWidthModifier{
	border-radius: 5px;
	margin-right: 0.5em;
	padding: 0.2em;
	cursor: pointer;
}

.WidthContainer h4{
	float: left;
	margin: 0;
}

#dtool{
	margin-left: 1.5em;
	margin-top: 0.6em;
}

.DeleteBlackboard{
	background: 
}

.EscenariosAlert{
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	text-align: left;
}

.EscenariosAlert input{
	margin:0.2em 0.5em;
}

#selectDominio{
	display: inline-block;
	margin: 5% 25%;
}

.AlertElement{
	height: 100%;
	margin: 0% 5% 10% 5%;
}

.AlertElement input{
	margin: 0.5em auto;
	width: 45%;
}

#contentOverflow-Usuario input{
	margin: 0.2em 1%;
	width: 45%;
}

#foo11{
	width: 100%;
}

.Foo1{
	width: 100%;
}

.Foo6{
	width: 90%;
}

#foo61{
	width: 40%;
}

#foo62{
	margin-bottom: -5%;
	width: 15%;
}

.Foo7{
	display: inline;
	width: 90%;
}

#foo71{
	background-color:#1ABC9C;
	border: none; 
	border-radius: 5px;
	color: white;
	margin: 4% 1% 1% 1%;
	padding: 5% 0;
	text-align: center;
	width: 30%;
}

#foo72{
	background-color:#3498DB;
	border: none; 
	border-radius: 5px;
	color: white;
	margin: 4% 1% 1% 1%;
	padding: 5% 0;
	text-align: center;
	width: 30%;
}

#foo73{
	background-color:#E74C3C;
	border: none; 
	border-radius: 5px;
	color: white;
	margin: 4% 1% 1% 1%;
	padding: 5% 0;
	text-align: center;
	width: 30%;
}

.Foo8 h3{
	display:inline-block;
	margin: 0 1em;
}

.Foo8 textarea{
	display:inline-block;
	height: 4em;
	margin: 3% 0;
	width: 100%;
}
.Foo8 h4{
	display: inline-block;
	margin-left: 20%;
	margin-top: 2%;
	white-space: nowrap;
	width: 30%;
}
.Foo8 h3:nth-child(n+5){
	margin: 2% 0 0;
	width: 45%;

}
.Foo8 input:nth-of-type(1){
	width:80%; 
}
.Foo8 input:nth-of-type(3n+2){
	margin: 0;
}
#foo85 select{
	width: 25%;
	margin: 0.1em;
}
#foo85 h4{
	margin: 0;
	width:40%;
}
#foo85 input{
	width: 30%;
}	
#foo852 {
	display: none;
}
#foo853 {
	display: none;
}

.ContentOverflow{
	background-color: #C9CEDB;
	border:solid #595959 1px;
	height: 10em;
	overflow-y: auto; 
	width: 100%;
}
.ContentOverflow-Asignacion{
	background-color: #C9CEDB;
	border:solid #595959 1px;
	height: 5em;
	overflow-y: auto; 
	width: 100%;
}

#contentOverflow-Usuario{
	background-color: #C9CEDB;
	border:solid #595959 1px;
	height: 10em;
	overflow-y: auto; 
	text-align: left;
	width: 100%;
}

.ContentOverflow table, .ContentOverflow-Asignacion table{
	width: 100%;
}
.Foo3 {
	width: 100%;
}
.Foo3 select{
	margin: 0.5em auto;
	width: 40%;
}
.Foo4 select{
	margin: 0.5em auto;
	width: 40%;
}
.CU_errors{
	color: red;
	display: inline-block;
	font-size: 12px;
	margin: 0.2em 2% 0.2em 1%;
	width:45%;
}
.Foo4 {
	width: 100%;
}
.Foo4 .ContentOverflow :last-child{
	margin-right: 40%;
}
.EU_errors{
	color: red;
	display: inline-block;
	font-size: 12px;
	margin: 0.2em 2% 0.2em 1%;
	width:45%;
}
.TypeContainer{
	background-color: #2C3E50;
	border: 2px solid #000;
	border-radius: 5px;
	display: none;
	height: 3.5em;
	position: fixed;
	width: 25em;
}
 
.TypeContainer span{
	color: white;
}

.TypeContainer h5{
	background-color: black;
	color: white;
	margin: 0;
	padding: 0.5em;
	text-align: center;
}

#closeButton3{
	color: white;
	cursor: pointer;
	position: absolute;
	right:2%; 
	top:2%;
}
#closeButton4{
	color: white;
	cursor: pointer;
	position: absolute;
	padding-top:0.4em;
	padding-right: 0.2em;
	right:2%; 
	top:2%;
}
.TempTypeText{
	color: white;
	display: none;
	position: fixed;
	padding: 0.5em;
	background-color: #2C3E50;
	border-radius: 5px;
}

#canvasText{
	color: black;
}

/*Estilo de Tests*/
.TituloTest{
	background-color: #16A085;
	border-radius: 5px;
	color: white;
	display: inline-block;
	height: 4.5em;
	margin: 0.5em 1% 0.5em 1%;
	min-height: 60px;
	position: absolute;
	text-align: center;
	width:98%;
}
.ContentTest{
	background-color: white;
	border-radius: 5px;
	bottom: 0.5em;
	margin: 0 1%;
	position: absolute;
	top: 5.5em;
	width: 98%;
}
.ContentTest ul{
	height: 3em;
	list-style: none;
	margin: 0.5em 0;
	padding: 0;
	text-align: center;
}
.ItemTest{
	background-color: #BDC3C7;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	font-size: 0.8vw;
	font-weight: bold;
	height: 2.3em;
	margin-left: 1.33%;
	padding: 0.2em;
	text-align: center;
	width: 18%;
}
.ItemTestSelected{
	background-color: #16A085;;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	float: left;
	font-size: 0.8vw;
	font-weight: bold;
	height: 2.3em;
	margin-left: 1.33%;
	padding: 0.2em;
	text-align: center;
	width: 18%;

}
#marcadorTestContainer{
	display: inline-block;
	margin: 0;
	position: fixed;
	text-align: center;
	width: 4%;
}
#marcadorTestContainer p{
	font-weight: bolder;
	margin: 0;
}
#marcadorTest{
	background-color: #3498DB;
	border: none;
	border-radius: 5px;
	color: white;
	height: 2em;
	margin: 0.2em;
	text-align: center;
}

#marcadorTest p{
	margin: 0.5em;
	padding:0.4em;
	text-align: center;
}

#liTest1Content, .LiTestAutomatico{
	background-color: #DFE2E9;
	bottom: 0.5em;
	border-radius: 5px;
	display: block;
	left: 0.5em;
	position: absolute;
	right: 0.5em;
	top: 3.5em;
}
#liTest1Content1 label, .LiTestAutomatico1 label{
	display: inline-block;
	font-size: 1em;
	font-weight: bolder;
	margin: 2% 3% 2% 15%;
	width: 20%;
}

#liTest1Content1 select:first-of-type, .LiTestAutomatico1 select:first-of-type{
	margin: 1em;
}
#liTest1Content1 ul, .LiTestAutomatico1 ul{
	list-style: none;
	margin: auto;
	width: 50%;
}

#liTest1Content1 ul li, .LiTestAutomatico1 ul li{
	text-align: left;
}

#liTest1Content1 ul li:last-of-type, .LiTestAutomatico1 ul li:last-of-type{
	text-align: center;
}

#liTest1Content1 ul li>input, .LiTestAutomatico1 ul li>input{
	margin: 2%;
}
#liTest1Content1 ul li:first-of-type input, .LiTestAutomatico1 ul li:first-of-type input{
	width: 40%;
	margin: 2%;
}

#formTest {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8em;
}
#formTest input{
	margin: 0;
}
#testOtros{
	display: none;
	margin: 0;
	text-align: center;
	width: auto;
}
.ComboBoxTest{
	background-color: #496BFF;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 1.2em;
	padding: 0.2em;
	width: 12em;
}
.ComboBoxAlumno{
	background-color: #E97352;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 1.2em;
	padding: 0.2em;
	width: 12em;
}
.ComboBoxAsignadas{
	background-color: #7BB241;
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	display: inline-block;
	margin: 1.2em;
	padding: 0.2em;
	width: 12em;
}

.testP1{
	display: inline-block;
	margin-left: 15%;
}
.testP2{
	display: none;
	margin-left: 15%;
}
#calificacionTest1{
	display: inline-block;
}
#calificacionTest2{
	display: none;
}

.TestButton{
	border: none;
	display: inline-block;
}
#liTest1Content1, .LiTestAutomatico1{
	display: block;
}
#liTest1Content2, .LiTestAutomatico2{
	display: none;
	height: 100%;
}
#liTest1Content2 section:first-of-type{
	display: inline-block;
	height: 100%;
	width: 79.5%;
}
#botonEsconder1{
	width: 0.5%;
	height: 55px;
	padding: 4.5px;
	position: absolute;
	top: 50%;
	left: 79.6%;
	background-color: #16A085;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}
#botonEsconder2{
	width: 55px;
	height: 1.8%;
	padding: 4.5px;
	position: absolute;
	top: 60%;
	left: 38.1%;
	background-color: #16A085;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}
#botonEsconder1 img{
	width: 100%;
	height: 100%;
	color: white;
}
#botonEsconder2 img{
	width: 100%;
	height: 100%;
	color: white;
}
.DeleteButton{
	position: relative;
	border: none;
	padding: 1%;
	margin: auto;
	color: white;
	border-radius: 5px;
	background-color: #0F6D5B;
}
#liTest1Content2 section:last-of-type{
	background-color: white;
	border-left: 1px solid #0F6D5B;
	display: inline-block;
	float: right;
	height: 100%;
	width: 20.4%;
}
#liTest1Content2 section:last-of-type > div:first-of-type{
	width: 80%;
	margin: auto;
	height: 74.5%;
	overflow-y: auto;
	border: 1px solid #0F6D5B; 
	background-color: #E7E9EE;
}
#testSection1 table{
	width: 95%;
	margin: 2.5%;
}
#testSection1 textarea{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.TestValue{
	width: 10%;
}
.TestValue input{
	width: 80%;
	text-align: center;
}
.IconTh{
	width: 5%;
}
#testSection1 table tr:nth-child(2){
	border: solid #91BEAC;
	height: 5em;
	display: table-row;
}
.RespuestaTable{
	border: solid #91BEAC;
	height: 5em;
	display: table-row;	
}
.DeleteButtonTable{
	width: 10%;
}
.BackButton{
	background-color: #E97352;
	border: none;
	width: 27%;
	text-align: center;
}
.TestButtonsContainer input{
	width: 27%;
}
#testSection1 table tr:nth-child(2) th:first-child{
	margin: 0;
}
#testSection2{
	height: 100%;
}
.TestIcon{
	height: 2.3vw;
	border: solid #91BEAC;
	top: 29%;
	cursor: pointer;
}
#preguntasContainer{
	height: 60%;
	overflow: auto;
	width: 100%;
}
#explicacionContainer{
	height: 40%;
	border-top: 1px solid #0F6D5B;
	background-color: white;
}
#explicacionContainer p{
	text-align: center;
	margin: 2% 0 0 0;
	font-weight: bolder;
}
#explicacionContainer textarea{
	width: 70%;
	margin: 0;
	height: 27%;
	position: absolute;
	bottom: 0.5%;
	top: 70%;
	left: 0.5%;
	background-color: #E7E9EE;
}

#explicacionIcons{
	position: absolute;
	bottom: 5.5%;
	left: 73.5%;
}
#explicacionContainer div img{
	display: block;
	height: 1.7vw;
}
.TestTreeTittles{
	padding: 2%;
	background-color: #16A085;
	border:1px solid #0F6D5B;
	cursor: pointer;
}
.TestTreeBody{
	background-color: #91BEAC;
	display: none;
}
.TestTreeBody p{
	padding: 2%;
	margin: 0;
}
.TestArrow{
	float: right;
	margin-top: 5px;
}
#claseTest{
	width: 12em;
}
#preguntasContainer2 {
	height: 80%;
	overflow: auto;
}
#preguntasContainer2 table{
	margin: auto;
}
#preguntasContainer2 section{
	padding: 2%;
	border:1px solid #0F6D5B;
}	
.TestButtonsContainer{
	height: 18%;
}
.TestButton2_1{
	position: absolute;
	bottom: 1%;
}
.TestButton2_2{
	position: absolute;
	bottom: 1%;
	left: 32%;
}
.TestButton2_3{
	position: absolute;
	bottom: 1%;
	left: 66%;
}
 


@media screen and (max-width:1024px){

	#LoginContainer{
		min-width: 219px;
		top: 15%;
	}

	.AlertBody{
		margin: 10% 40% 0 40%;
	}

	.CuadroUsuario{
		max-width: 12vw;
		min-width: 40px;
	}

	.CuadroUsuario p{
		font-size: 0.9vw;
	}

	.CuadroInformativo{
		max-width: 13vw;
	}

	.CuadroInformativo p{
		font-size: 0.8vw;
		
	}

	.TituloLogin{
		margin-left: 5%;
	}

	.MenuTop{
		left: 16em;
		min-width: 638px;
	}

	.MenuLista{
		width: 80%;
	}

	.Menu-Item{
		font-size: 9px;
		height: 1.2em;
		min-width: 78px;

	}

	.Menu-ItemSelected{
		font-size: 9px;
		height: 1.2em;
	}

	.ComboBoxDominio{
		width: 6em;
	}

	.ComboBoxClase{
		width: 6em;
	}

	.ComboBoxDisabled{
		width: 6em;
	}

	input[name="Boton2"]{
		font-size: 12px;
		height: 1.5em;
	}

	.Titulo{
		width: 15em;
	}

	.MenuLeft{
		width: 15em;
	}

	.Pizarra{
		left: 16em;
		min-width: 638px;
	}

	.MenuLeft-ArticlesContainer{
		width: 12.4em;
	}

	.ComboBoxAsignadas{
		width: 10em;
	}

	.ComboBoxAlumno{
		width: 10em;
	}
	.Foo8 h4{
		margin-left: 0;
	}
}

